
<!DOCTYPE html>
<html>
  <head>
      <!-- Meta Tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="Ace of Spades">
      <meta name="description" content="Site com um sistema simples e pratico de registro e edição de personagens de RPG ">
      <meta name="keywords" content="rpg, personagens, crud">
      <link rel="icon" type="image/png" href="../static/d20_logo.png" />

      <!--Link para CSS  do Bootstrap-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <!-- Material Design Bootstrap -->
      <link rel="stylesheet" href="../css/mdb.min.css">

      <!-- Link para estilo customizado-->
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link href="https://fonts.googleapis.com/css?family=Supermercado+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <title>Projeto RPG JS - Personagem </title>

  </head>
  <body class='pt-4' onload="dados_pers('vizu');">
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">

            <!-- Logo do site -->
            <a href="home.html"><img src="../static/d20_logo.png" width="60" height="60" class="d-inline-block align-top p-0 mr-2 animated rotateIn" alt="logo_site"></a>
            <a class="navbar-brand mr-4 fonte_mec" href="home.html">Projeto RPG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" 
                    aria-label="Alternar visualização">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Itens - Menu do Cabeçalho -->
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="home.html">Home</a>
                <a class="nav-item nav-link" href="procurar_pers.html" id="linkListarPessoas">Procurar</a>
                <a class="nav-item nav-link" href="registrar_personagem.html">Registrar personagem</a>
              </div>

            </div>
          </div>
        </nav>
      </header>

      <!-- Parte principal do site - Conteúdo -->

      <main role="main" class="container ml- p-0 principal1">
      <article class="media content-section animated slideInUp">
        <div class="media-body " >
            <div class="container p-0 m-0 ">                
                <div class="card ">
                    <div class="card-body p-0">
                        <div class="row p-0 m-0">
                            <div class="col-md-2 p-0 text-center">
                                    <img class="account-img mt-2" id="img_pers"><br>
                                    <small class="text-muted">Criado em: <span id="datacriacao" ></span></small>
                                <div class="container float-left text-left"></div>
                            </div>
                            <div class="col-md-10 ml-0">
                                <div class="p-1 text-center">
                                        <h2><a class="article-title" href="#">  <span id="nome">Nome</span> </a></h2>
                                </div>

                                    <div class="row text-center">
                                        <span class="col-md lead"><span class="vermelho">Raça:</span> <span id="raca"></span></span>
                                        <span class="col-md lead"><span class="vermelho">Classe:</span> <span id="classe"></span> </span>
                                        <span class="col-md lead"><span class="vermelho">Nível: </span> <span id="nivel"></span> </span>
                                    </div>

                                    <div class="container mt-4">
                                        <div class="row p-0 text-center">
                                                    
                                            <div class="col" >
                                                <span class="col mr-3 pl-4 vermelho fonte_mec">Força</span>
                                                <span class="col" id="forca"> </span> 
                                            </div>
                                                    
                                            <div class="col">
                                                    <span class="col vermelho fonte_mec">Destreza</span> 
                                                    <span class="col"  id="destreza"></span>  
                                            </div>
                                            <div class="col">
                                                <span class="col vermelho fonte_mec">Constituição</span> 
                                                <span class="col"  id="constituicao"></span> 
                                            </div>
                                            <div class="col">
                                                <span class="col vermelho fonte_mec">Inteligencia</span> 
                                                <span class="col"  id="inteligencia"></span> 
                                            </div>
                                                
                                            <div class="col">
                                                <span class="col vermelho fonte_mec">Sabedoria</span>
                                                <span class="col"  id="sabedoria"></span>
                                            </div>
                            
                                            <div class="col">
                                                <span class="col vermelho fonte_mec">Carisma</span> 
                                                <span class="col"  id="carisma"></span> 
                                            </div>
                                        </div>

                                        <div class="ml-3 p-3 text-justify">
                                            <span  id="historia"></span>
                                        </div>
                                    </div>
                            </div>
                        </div>   
                    </div>
                </div>
        </div>
        <br>
    </article>



   
    </main>
        
    <!-- Footer -->
      <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
          <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> ProjetoRPG.com</a>
          </div>
        </div>
      </footer>
   
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- código específico do front-end -->
    <script src="../js/scriptPers.js"></script>
     
</body>
</html>